---
import FirebaseIcon from "../icons/Firebase.astro";
import FlutterIcon from "../icons/Flutter.astro";
import MobXIcon from "../icons/MobX.astro";
import RiverpodIcon from "../icons/Riverpod.astro";

import { getI18N } from '../i18n/'

const {currentLocale} = Astro
const i18n = getI18N({currentLocale})

const TAGS = {
    FIREBASE: {
        name: "Firebase",
        class: "bg-black text-white",
        icon: FirebaseIcon
    },
    FLUTTER: {
        name: "Flutter",
        class: "bg-black text-white",
        icon: FlutterIcon
    },
    RIVERPOD: {
        name: "Riverpod",
        class: "bg-black text-white",
        icon: RiverpodIcon
    },
    MOBX: {
        name: "MobX",
        class: "bg-black text-white",
        icon: MobXIcon
    },
};

const PROJECTS = [
    {
        title: i18n.PROJECT_1_TITLE,
        description: i18n.PROJECT_1_DESCRIPTION,
        github: "#",
        image: "/projects/project1.webp",
        tags: [TAGS.FLUTTER ,TAGS.FIREBASE, TAGS.RIVERPOD],
    },
    {
        title: i18n.PROJECT_2_TITLE,
        description: i18n.PROJECT_2_DESCRIPTION,
        github: "https://github.com/AgustinFRUni/flutter-samples/tree/main/simple_chat",
        image: "/projects/project2.webp",
        tags: [TAGS.FLUTTER ,TAGS.FIREBASE, TAGS.MOBX],
    },
];
import ProjectsItem from "./ExperienceItem.astro";

---

<ol class="relative border-s border-gray-200">
    {
        PROJECTS.map((project) => (
            <li class="mb-10 ms-4 mt-50 ">
                {" "}
                <ProjectsItem {...project} />
            </li>
        ))
    }



</ol>

