---
import FirebaseIcon from "../icons/Firebase.astro";
import FlutterIcon from "../icons/Flutter.astro";
import MobXIcon from "../icons/MobX.astro";
import RiverpodIcon from "../icons/Riverpod.astro";
import ProjectsItem from "./ExperienceItem.astro";
import HTMLIcon from "../icons/HTML.astro";
import CSSIcon from "../icons/CSS.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import TailwindIcon from "../icons/Tailwind.astro";

import { getI18N } from '../i18n/'

const {currentLocale} = Astro
const i18n = getI18N({currentLocale})

const TAGS = {
    FIREBASE: {
        name: "Firebase",
        class: "bg-black text-white",
        icon: FirebaseIcon
    },
    FLUTTER: {
        name: "Flutter",
        class: "bg-black text-white",
        icon: FlutterIcon
    },
    RIVERPOD: {
        name: "Riverpod",
        class: "bg-black text-white",
        icon: RiverpodIcon
    },
    MOBX: {
        name: "MobX",
        class: "bg-black text-white",
        icon: MobXIcon
    },
    HTML: {
        name: "HTML",
        class: "bg-[#574422] text-white",
        icon: HTMLIcon
    },
    CSS: {
        name: "CSS",
        class: "bg-[#2d207a] text-white",
        icon: CSSIcon
    },
    ASTRO: {
        name: "Astro",
        class: "bg-[#852f2a] text-white",
        icon: AstroIcon
    },
    TAILWIND: {
        name: "Tailwind",
        class: "bg-[#003159] text-white",
        icon: TailwindIcon
    },
};

const PROJECTS = [
    {
        title: i18n.EXPERIENCIE_1_TITLE,
        description: i18n.EXPERIENCIE_1_SUBTITLE,
        link: "https://distribuidoracorrientes.vercel.app/",
        image: "/experience/experience1.webp",
        tags: [TAGS.HTML ,TAGS.CSS, TAGS.ASTRO, TAGS.TAILWIND],
    },
];


---

<ol class="relative border-s border-gray-200">
    {
        PROJECTS.map((project) => (
            <li class="mb-10 ms-4 mt-50 ">
                {" "}
                <ProjectsItem {...project} />
            </li>
        ))
    }
</ol>

